#REMPLACEZ AVEC VOTRE EMAIL ET MOT DE PASSE DE VINCI
#INSEREZ VOTRE SUJET NTFY
#PUIS RENOMMEZ CE FICHIER EN ".env"

EMAIL_1=prenom.nom@edu.devinci.fr
PASSWORD_1=votre_mot_de_passe
SUJET=votre_sujet_ntfy